package modules

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ Section(title, id string) {
	<div id={ id } class="flex flex-col gap-3 w-full">
		if title != "" {
			@popui.Title(props.Title{Class: "text-2xl"}) {
				{ title }
			}
		}
		{ children... }
	</div>
}
